*{
    scroll-behavior:  smooth;
}

body {
    font-family: Arial;
    font-size: 1.5em;
    color: white;
    line-height: 1;
    background-color: #1c1c1c;
}

@media screen and (min-width: 1366px) {
    #welcome-section #intro h1 {
        /* display: flex; */
        text-align: center ;
        font-family: times-new-roman;
        font-size: 20px;
        color: white;
    }

    #about-section {
        margin: 20px;
    }

    #about{
        width: fit-content;
        height: fit-content;   
    }

    #about h2{
        font-size: 1.5em;
    }

}

/**/
#menu {
	top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    background-color: #FA8072;
	color: #FFF;
	height: 45px;
	/* padding: 15px; */
	/* border-radius: 10px; */
    
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
    text-align: center;
}
#menu li {
    display: inline-block;
    text-align: center;
}
#menu a {
	display: block;
	line-height: 45px;
	padding: 0 15px;
	text-decoration: none;
	color: #000000;
	font-size: 19px;
    transition: .8s;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #FFFFFF;
	background: #6265FF;
    transition: .8s;
}

#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #fa8072;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
    text-align: left;
}
#menu ul.sub-menus a {
	color: black;
	font-size: 16px;
    transition: .8s;
}
#menu li:hover ul.sub-menus {
	display: block;
}
#menu ul.sub-menus a:hover{
	background: #6265FF;
	color: white;
    transition: .8s;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }

#welcome-section h1 {
    font-family: times-new-roman;
    font-size: 3em;
    color: white;
}

#welcome-section h2 {
    font-family: calibri;
    font-size: 1em;
}

#intro {
    width: 75%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    margin-top: 5em;
    margin-bottom: 5em;
    border: inherit;
    /* box-shadow: 9px 10px 50px 1px cyan; */
    border-radius: 5px;
    animation: glow 4s ease-in-out infinite;
}
  
  @keyframes glow {
    0%{
        box-shadow:0 0 80px #1c1c1c,
        0 0 20px #1c1c1c, 0 0 30px #1c1c1c,
        0 0 40px #1c1c1c, 0 0 50px #1c1c1c,
        0 0 60px #1c1c1c, 0 0 70px #1c1c1c;
    }

    25%{
        box-shadow: 0 0 10px #fff, 0 0 20px #1c1c1c,
        0 0 30px #fa8072, 0 0 40px #fa8072,
         0 0 50px #fa8072, 0 0 60px #fa8072,
          0 0 70px #fa8072;
    }

    50%{
        box-shadow:0 0 80px #1c1c1c,
        0 0 20px #1c1c1c, 0 0 30px #1c1c1c,
        0 0 40px #1c1c1c, 0 0 50px #1c1c1c,
        0 0 60px #1c1c1c, 0 0 70px #1c1c1c;
    }

    75%{
        box-shadow: 0 0 20px #fff, 0 0 30px #0077b5,
       0 0 40px #0077b5, 0 0 50px #0077b5, 0 0 60px #0077b5,
        0 0 70px #0077b5, 0 0 80px #0077b5;
    }

    100%{
        box-shadow:0 0 80px #1c1c1c,
        0 0 20px #1c1c1c, 0 0 30px #1c1c1c,
        0 0 40px #1c1c1c, 0 0 50px #1c1c1c,
        0 0 60px #1c1c1c, 0 0 70px #1c1c1c;
    }
  }

  /* ABOUT SECTION  */

#about-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    line-height: 1.25;
    scroll-margin-block-start:35px ;
}

#about h2 {
    font-family: times-new-roman;
    font-size: 3em;
    text-align: center;
}

#about p {
    padding: 20px;
}

#about {
    width: 75%;
    height: fit-content;
    border: 2px solid cyan;
    border-radius: 5px;
}
    /* SKILLS AND TESTIMONIALS */

    #skillsTestContainer{
        display: flex;
        flex-wrap: wrap;
        width: 97%;
        text-align: center;
        margin: auto;
        margin-bottom: 1em;
        padding: 20px;
        border-radius: 5px;
        border: 2px solid cyan;
        scroll-margin-block-start: 65px;
    }

    .skillsTest{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 45%;
        height: fit-content;
        margin: 10px auto;
        padding: 2%;
        border: 2px solid #fa8072;
        border-radius: 10px;
    }

    .skillsTest h3 {
        text-align: center;
        width: 100%;
        margin: auto;
        padding: 0 20px 20px;
    }
        
    .skills, .tests {
        border-radius: 20%;
        display: inherit;
        flex-wrap: inherit;
        text-align: center;
        width: 47%;
        height: 300px;
        margin: 10px auto;
        padding: 2px;
        border: 2px solid cyan;
        justify-content: center;
        align-content: center;
        z-index: -1;
        transition: .90s;
   }

    .skills img{
        flex-shrink: 100%;
        height: 50%;
        width: 55%;
        max-width: auto;
        max-height: auto;
        margin-left: 25px;
        margin-right: 25px;
    }

    progress{
        accent-color: cyan;
    }

    .tests {
        position: relative;
    }
    
    #name {
        text-decoration: underline;
        font-style: italic;
        font-size: 20px;
    }

    .tests p {
        position: relative;
        font-size: 16px;
    }

    /* PROJECTS */  

#projects {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    text-align: center;
    margin: auto;
    margin-bottom: 1em;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid cyan;
    scroll-margin-block-start: 65px;
}

#projects h1 {
    width: 100%;
    text-align: center;
}

.project-tile {
    text-align: center;
    width: 45%;
    height: 500px;
    margin: 10px auto;
    padding: 2%;
    border: 2px solid #fa8072;
}

.project-tile img {
    width: 50%;
    max-height: 400px;
    transition: .90s;
}

.project-tile a {
    width: 100%;
    color: white;
    text-decoration: none;
}

.project-tile a:hover {
    color: cyan;
}

.project-tile img:hover {
    width: 70%;
    max-height: 460px;
    box-shadow: 5px 5px 10px 1px #0077b5;
    /* transition: .90s; */
}
/**/

/* CONTACT SECTION  */

#contact {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    text-align: center;
    line-height: normal;
    scroll-behavior: smooth;
    scroll-margin-block-start: 60px;
}

#cont {
    border: 2px solid #fa8072;
    width: 90%;
    height: 70%;
    line-height: 1;
    padding-bottom: 50px;
    margin-bottom: 10px;
}

#contact h1 {
    font-family: times-new-roman;
    font-size: 3em;
}

#contact h2 {
    font-family: calibri;
    font-size: 1em;
}

/* CONTACT FORM  */

form {
    padding: 20px;
    border: 2px solid #00adee;
    width: fit-content;
    margin: auto;
}


form input,
form textarea {
    margin: 15px;
    padding: 5px;
}

input[type="text"],
input[type="email"] {
    width: 200px;
}

label {
    display: inline-block;
    width: 100px;
    vertical-align: middle;
}

#message {
    vertical-align: middle;
}

#btn {
    font-size: 20px;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    background-color: #1c1c1c;
    color: cyan  ;
    transition: .9s;
}

#btn:hover {
    width: 210px;
    height: 50px;
    /* background-color: cyan; */
    /* color: #1c1c1c; */
    transition: .9s;
    box-shadow: 5px 5px 20px cyan ;
}


/* CONTACT LINKS */

.contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 1em;
    border: 2px solid cyan;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.fa {
    color: white;
    padding: 10px;
    transition: .5s;
}

.fa-codepen:hover {
    color: cyan;
}

.fa-free-code-camp:hover {
    color: green;
}

.fa-github-square:hover {
    color: violet;
}

.fa-reddit-square:hover {
    color: #ff4500;
}

.fa-steam-square:hover {
    color: #00adee;
}

.fa-linkedin:hover {
    color: #0077b5;
}

#profile-link {
    color: white;
}

#profile-link:hover {
    color: cyan;
}

a:hover {
    color: cyan;
}

footer {
    text-align: center;
    padding: 20px;
    border-top: 3px solid #fa8072;
}